///////////////////////////////////////////////////////////////////////////////////////////////////////////
//                                                                                                       //
//                                          PHPAlert Gadget                                              //
//                                                                                                       //
//          Easily implement user friendly alerts in your PHP projects with this gadget.                 //
//                                                                                                       //
//          PHPAlert Gadget - Copyright (c) 2017 Gabriel Valentoni Guelfi                                //
//                                                                                                       //
//          >>> CONTACT DEVELOPER:                                                                       //
//          >>> Gabriel Guelfi                                                                           //
//          >>> Website: http://gabrielguelfi.com.br                                                     //
//          >>> Email: gabriel.valguelfi@gmail.com                                                       //
//          >>> Skype: gabriel-guelfi                                                                    //
//                                                                                                       //
//                                                                                                       //
//          This file is part of PHPAlert Gadget.                                                        //
//                                                                                                       //
//          PHPAlert Gadget is free software: you can redistribute it and/or modify                      //
//          it under the terms of the GNU General Public License as published by                         //
//          the Free Software Foundation, either version 3 of the License.                               //
//                                                                                                       //
//          PHPAlert Gadget is distributed in the hope that it will be useful,                           //
//          but WITHOUT ANY WARRANTY; without even the implied warranty of                               //
//          MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                //
//          GNU General Public License for more details.                                                 //
//                                                                                                       //
//          You should have received a copy of the GNU General Public License                            //
//          along with this copy of PHPAlert Gadget under the name of LICENSE.pdf.                       //
//          If not, see <http://www.gnu.org/licenses/>.                                                  //
//                                                                                                       //
//          Using, modifying and/or running this software or any of its contents, implies consent        //
//          to the terms and conditions explicit within the license, mentioned above.                    //
//                                                                                                       //
///////////////////////////////////////////////////////////////////////////////////////////////////////////

.alert{
    position:fixed;
    width:30%;
    top:25px;
    left:35%;
    border-radius:5px;
    box-shadow:0px 0px 5px;
    padding:2%;
    display: none;
}
.alert img{
    width:10%;
}
.alert span{
    margin:5px;
    float:right;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #000 inset;
    text-shadow: 1px 1px #999;
    cursor: pointer;
}
.alert-success{
    background-color:#CEFFCE;
    color:#009900;
    border:2px solid #009900;
}
.alert-failure{
    background-color:#FFC7C7;
    color:#990000;
    border:2px solid #990000;
}
.alert-warning{
    background-color:#F9F9B8;
    color:#999900;
    border:2px solid #999900;
}